.banner{
        display:flex;
        overflow-x: auto;
        -webkit-overflow-scrolling:touch;
      }

      .banner div{
        flex-shrink:0;
        width:250px;
        height:600px;
      }
