.mobile-nav {
  position: fixed;
  padding-bottom: 5px;
  padding-top: 5px;
  height: 50px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(241 241 241 / 58%);
  -webkit-backdrop-filter: saturate(130%) blur(25px);
  border-radius: 18px;
  backdrop-filter: saturate(130%) blur(25px);
}
.bloc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bloc-icon img {
  width: 290px;
}
